.sidebar {
    background-color: gray;
    margin: 0px;
    float: left;
    width: 20%;
    text-align: center;
    min-height: 100%;
    position: absolute;
}

input {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
    max-width: 65%;
}

.chat {
    margin-left: 20%;
}

h1 {
    margin-top: 0px;
    padding-top: 10%;
}

.chat h1 {
    padding-top: 2%;
}
