<div class="sidebar">
    <h1>Bloc Chat</h1>
    <div ng-repeat="room in home.rooms">
        <h3 class="roomname" ng-click="home.setCurrentRoom(room)">{{ room.name }}</h3>
    </div>
    <form>
        <input type="text" placeholder="New Room" ng-model="home.newRoom.name">
        <input type="submit" value="Submit" ng-click="home.addRoom()">
    </form>
</div>
<div class="chat">
    <h1>{{ home.currentRoom.name }}</h1>
    <div class="messages" ng-repeat="message in home.messages">
        <p>{{ message.content }}</p>
        <p>{{ message.sentAt }}</p>
        <p>{{ message.username }}</p>
    </div>
</div>
